base58==2.1.1
beautifulsoup4==4.11.2
dateparser==1.1.6
importlib_resources==5.10.2
lxml==4.9.2
numpy==1.24.1
pandas==1.5.3
progressbar2==4.0.0
pyparlaclarin==0.6.0
SPARQLWrapper==2.0.0
torch==1.13.1
transformers==4.26.0
Unidecode==1.3.6
